.image{
    width: 80%;
    height: 670px;
    display:flex;
    background-position: center;
    position: absolute;
    margin-top: 6px;
}
.descriptionImg {
    margin-top: 7%;
    width:450px;
    height: 550px;
    margin-right: 17%;
}

.cart{
  height: 200px;
  width: 200px;
}
.custom-btn {
    margin: 5px;
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
    
  /* 11 */
  .btn-11 {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
.table{
    margin: 6px;
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: space-around;
    /* align-items: center; */
    
}
.imgProduct{
    width:350px;
    height: 400px;
}
header {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  /* .logo Link {
    text-decoration: none;
    color: #333;
  } */
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
.link{
    display: block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  
  .link:hover {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
  }
  .basket {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .basket-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    border-radius: 50%;
    border: 2px solid #666;
    box-sizing: border-box;
  }
  .tableOK{
    margin:80px;
  
    grid-template-columns: auto auto auto;
    justify-content: space-around; 
    /* background-color:#fdf6f0 ; */
    color:#7a0036;
    font-size:medium;
    font-family:AvantGarGotItcT;
    font-weight: 100;
    letter-spacing: .15625rem;

    line-height: 1;
    margin-bottom: .625rem;
    margin-top: 0;
  }
  .buttonOK {
    size:20px;
   height: 40px;
   width: 380px;
   /* position: relative; */
   float:  left;
  }
  .profile{
    background-image: url("");
    background-size: cover;
    border-radius: 50%;
    border:2px solid  rgb(148, 146, 146);
    width: 44px;
    height:44px;
    
}